body{
    background-color: rgb(154, 155, 115);

}
.tituloCentral{
    background-color: rgb(198, 179, 142);
    padding: 25px 500px 25px;
    position: absolute;
    text-align: center;
    color: rgb(61, 8, 20);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 26px;
    top: 60px;
    left: -5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    position: fixed; top: 0; width: 105%;
    text-align:center;
    left: -5px; 
}
li {
    float: left;
    display: inline; 
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 auto;
}
li a:hover {
    background-color: #333;
}
.active {
    background-color: rgb(154, 155, 115);
}
form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    background-color: #CC3300;
    max-width: 500px;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
}

input, textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #ffffff;
    background-color: #000000;
    color: rgb(255, 255, 255);

}

.enviar {
    background-color: #355244;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: rgb(61, 8, 20);
}

textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

form label {
    margin-left: 20px;
    color: #FFFFFF;
    font-weight: bold;
}