body{
    background-color: rgb(154, 155, 115);
}
.tituloCentral{
    background-color: rgb(198, 179, 142);
    padding: 25px 500px 25px;
    position: absolute;
    text-align: center;
    color: rgb(61, 8, 20);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 26px;
    top: 60px;
    left: -5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    position: fixed; top: 0; width: 105%;
    text-align:center;
    left: -5px; 
}
li {
    float: left;
    display: inline; 
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 auto;
}
li a:hover {
    background-color: #333;
}

main {
    max-width: 1000px;
    margin: auto;
    display: flex;
    text-align: center;
    background-color: rgb(198, 179, 142);
    height: 400px;
}
section{
    max-width: 150px;
    height: 250px;

}

form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    background-color:  rgb(255, 170, 0);
    border-radius: 5px;
    margin: auto;
    display: flex;
    text-align: center;
    padding: 250px;
    align-items: center;
    margin-left: 150%;
} 

/* input, textarea {
    width: 200px;
    padding: 10px;
    color: rgb(0, 0, 0);
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #ffffff;
    background-color: #ffffff;
    color: rgb(0, 0, 0);

}

.enviar {
    background-color: #000000;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

textarea {
    width: 400px;
    height: 120px;
    line-height: 15px;
    max-width: 400px;
}

form label {
    margin-left: 20px;
    color: #FFFFFF;
} 
h1{
    color: #333;
    font-family: 'Times New Roman', Times, serif;
}
#nomeid{
    position: absolute;
    top: 100px;
} */
.tudo_do_form{
    text-align: center;
    align-items: center;
}
label{
    position: absolute;
    align-items: center;
    margin-top: 5%;
    text-align: center;
    align-items: center;
}
textarea{
    margin-top: 5%;

}
input{
    margin-top: 5%;
    align-items: center;
    align-content: center;
    text-align: center;
}