header ul {
    list-style-type: none;
    margin: auto;
    overflow: visible;
    background-color: #333;
    top: 0;
    position: fixed;
    width: 100%;
  

}
header li {
    float: left;
    display: inline; 
}
header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
header li a:hover {
    background-color: #333;
} 

body{
    background-color: rgb(154, 155, 115);
    display: block;
}

main {
    text-align: center;
    background-color: rgb(198, 179, 142);
    justify-items: center;
    align-items: center;
 
}

form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    background-color:  rgb(255, 170, 0);
    border-radius: 5px; 
    margin: auto; 
    padding: 100px; 
    justify-items: center;
    display: block

} 

label{
    margin-top: 5%;
    display: flex;
}

input{
    display: flex;
    margin-top: 5%;
}

 